*
{
    box-sizing: border-box;
}

body
{
    margin: 0;

    overflow: hidden;
}

header
{
    width: 100%;
    height: 11rem;

    padding: 0 6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

main
{
    width: 100vw;
    height: 100vh;
}

section
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

a
{
    text-decoration: none;
}

.one
{
    height: 47rem;

    background: linear-gradient(to right,#0D0D0D 67%, #73726E 33%);

    padding-bottom: 4.25rem;
}

.one article
{
    margin-top: -3.5rem;
}

.two
{
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    background-color: #F2F0E9;
}

.two .container
{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;

    max-width: 75rem;
}

.three
{
    width: 100vw;
    height: 100vh;

    background-color: #0D0D0D;
}

.container
{
    max-width: 110rem;

    min-width: 12.5rem;

    display: flex;
    justify-content: space-between;
}

.primary
{
    width: 100%;
    margin-top: 13.25rem;

    padding: 0 10rem;
    padding-bottom: 4.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quicksand
{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
}

.poppins
{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.logo
{
    font-size: 2.5rem;
    font-weight: 700;

    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    color: #F2F0E9;
}

.logo:hover
{
    transform: scale(1.2);
}

.logo-invert
{
    font-size: 2.5rem;
    font-weight: 700;

    color: #0D0D0D;
}

.cv /* botão curriculo */
{
    position: relative; /* torna o objetivo como referência para elementos filhos (no caso o ::before ) */
    display: inline-block; /* faz com que o elementos seja um bloco mas ele tenta se encaixar na mesma linha se houver espaço antes de ir pra proxima */

    border: solid 1px #0D0D0D;
    padding: 1rem 2.5rem;

    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

    color: #0D0D0D;

    overflow: hidden; /* faz com que as partes que vazarem do tamanho do elemento não são mostradas */

    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.cv-invert
{
    border-color: #F2F0E9;
    color: #F2F0E9;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.cv::before
{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    background-color: #0D0D0D;
}

.cv-invert::before
{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);

    background-color: #F2F0E9;
}

.cv:hover::before
{
    transform: translateX(0);
}

.cv:hover
{
    color: #F2F0E9;
}

.cv-invert:hover
{
    color: #0D0D0D;
}

.primary h1
{
    max-width: 30vw;

    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.1;
    letter-spacing: -0.03rem;

    margin: 0;

    color: #F2F0E9;
}

.primary p
{
    width: 32vw;

    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6;

    color: #F2F0E9;
}

.square
{
    width: 24rem;
    height: 25rem;

    margin-right: 10rem;

    background-color: blue;
}

.square img
{
    width: inherit;
    height: inherit;
}

.social
{
    position: fixed;

    /* BARRA EM CIMA 
    display: flex;

    left: 50%;
    transform: translateX(-50%);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    */

    /* BARRA NA ESQUERDA */
    top: 50%;
    transform: translate(0,-50%);

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    background-color: #F2F0E9;
    /* box-shadow: 0 0 1rem 0 #403F3D; */
}

.social-invert
{
    background-color: #0D0D0D;
}

.social-item
{
    padding: 1rem;

    box-sizing: content-box;
}

.icon, .icon svg /* icone */
{
    height: 2rem;
    width: 2rem;

    color:#0D0D0D;
    fill: #0D0D0D;
}

.icon-invert, .icon-invert svg
{
    color: #F2F0E9;
    fill: #F2F0E9;
}